<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cl.cordova.plugin.share" version="0.1.1">
   <name>CLShare</name>
   <description>Cordova CL Share Plugin</description>
   <license>Apache 2.0</license>
   <keywords>cordova,share</keywords>
   <repo> https://github.com/objectiveCarlo/CLCDVSharePlugin.git </repo>
  
   <js-module src="www/clsharecdvplugin.js" name="clshare">
      <clobbers target="clsharecdvplugin" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="CLShareCDVPLugin">
            <param name="android-package" value="cl.cordova.plugin.share.CLShareCDVPLugin" />
         </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.GET_ACCOUNTS" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>
      <source-file src="src/android/CLShareCDVPLugin.java" target-dir="src/cl/cordova/plugin/share" />
      <source-file src="src/android/cl/android/share/model/ShareModel.java" target-dir="cl/android/share/model/" />
      <source-file src="src/android/cl/android/share/module/FacebookModule.java" target-dir="cl/android/share/module/" />
      <source-file src="src/android/cl/android/share/module/InstagramModule.java" target-dir="cl/android/share/module/" />
      <source-file src="src/android/cl/android/share/module/ShareModule.java" target-dir="cl/android/share/module/" />
      <source-file src="src/android/cl/android/share/module/TwitterModule.java" target-dir="cl/android/share/module/" />
   </platform>

   <!-- ios -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="CLShareCDVPLugin">
            <param name="ios-package" value="CLShareCDVPLugin" />
         </feature>
      </config-file>
     

      <header-file src="src/ios/CLShareCDVPLugin.h" />
      <source-file src="src/ios/CLShareCDVPLugin.m" />
      <header-file src="src/ios/modules/Share/FacebookModule.h" />
      <source-file src="src/ios/modules/Share/FacebookModule.m" />
      <header-file src="src/ios/modules/Share/InstagramModule.h" />
      <source-file src="src/ios/modules/Share/InstagramModule.m" />
      <header-file src="src/ios/modules/Share/TwitterModule.h" />
      <source-file src="src/ios/modules/Share/TwitterModule.m" />
      <!-- system frameworks -->
      <framework src="libsqlite3.dylib" />
      <framework src="Social.framework" weak="true" />
      <framework src="Accounts.framework" weak="true" />
      <framework src="AdSupport.framework" weak="true" />
      <framework src="Security.framework" weak="true" />
      <framework src="Twitter.framework" weak="true" />
   </platform>
</plugin>